header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    padding: 1em 3em;
    font-weight: 500;
    position: relative;
    box-sizing: border-box;
}

.list {
    display: flex;
    padding: 0;
    margin: 0;
}

.logo {
    max-width: 200px;
    height: auto;
}

.list li {
    list-style-type: none;
    margin: 0 1em;
}

.list a {
    text-decoration: none;
    color: black;
}

.list a:visited {
    color: black;
}

.list a:hover {
    font-weight: bold;
}

.log {
    background-color: black;
    border: none;
    color: rgb(242, 239, 235);
    padding: 1em 4em;
    font-weight: bold;
    cursor: pointer;
    width: 7em;
    border-radius: 5px;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 66%;
}

.logo-container {
    display: flex;
    align-items: center;
    width: auto;

}

.btn-link{
    display: flex;
    align-items: center;
    width: 66%;
}


@media (max-width: 599px) {
    header {
        flex-direction: column;
        align-items: stretch;
        padding: 1em;
    }

    .logo-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger-menu {
        display: block;
    }

    .nav-container {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-top: 1em;
    }

    .nav-container.open {
        display: flex;
    }

    .list {
        flex-direction: column;
        width: 100%;
    }

    .list li {
        margin: 1em 0;
    }

    .log {
        width: 100%;
        margin-top: 1em;
    }

    .btn-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

@media (min-width: 600px) {
    .nav-container {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .log{
        font-size: 1em;
        padding: 1em;
    }

    .logo {
    max-width: 150px;
    height: auto;
    }

    .btn-link{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .list{
        margin-left: 7em;
    }
}

@media (min-width: 1024px) {
    .nav-container {
        display: flex ;
        align-items: center;

    }

    .btn-link{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .list{
        margin-left: 13em;
    }


}
