header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    padding: 1em 3em;
    font-weight: 500;
}

.list{
    display: flex;
}

.logo{
    max-width: 200px;
}

.list li{
    list-style-type: none;
    margin: 0 1em;
}

.list a{
    text-decoration: none;
}

.list a:visited{
    color: black;
}

.list a:hover{
    font-weight: bold;
}


.log{
    background-color: black;
    border: none;
    color: rgb(242, 239, 235);
    padding: 1em 4em;
    font-weight: bold;
}

@media (max-width: 599px){

}

@media (min-width: 600px){

}

@media (min-width: 1024px){

}
