
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Jost", sans-serif;
    background-color: rgb(242, 239, 235);
    background-color: rgb(242, 239, 235);
    color: black;
    height: 100vh;
    margin: 0;
}

main{
    display: flex;
}

.founders{
    display: flex;
}

.founder{
    max-width: 200px;
    justify-content: center;

}

.founder img{
    border-radius:5px;
    width: 90%;
    flex-shrink: unset ;

}